* {
    margin: 0;
    font-family: Andale Mono, monospace;
}
/* Color theme */

:root {
    --outer-space: rgba(20, 74, 141, 0.805);
    --bright-space:  rgba(0, 42, 94, 0.356);
    --bright-pink: rgb(252, 216, 222);
    --bloody-orange: rgb(218, 36, 90);
}

    /* set content highlight color and background  */
::selection {
    background-color: var(--outer-space);
    color: var(--bright-pink);
  }
  


/* header styling */
header {
    padding: 0%;
    display: flex;
    background-color: var(--bright-space);
    z-index: 100;
    position: relative;
}

header .mathilde {
color: var(--outer-space);
background-color: var(--bright-pink);
float: left;
padding: 10px 10px 0 90px;
margin: 0%;

}

.nav {
    margin: 0 0 0 50%;
    float: right;
    font-size: 20px;
    line-height: 60px;
}

.menu a {
    clear: right;
    padding: 0 20px 0 20px;
    margin-left: 30px;
    display: inline-block;
    color: var(--bright-pink);
    text-decoration: none;
    border-bottom: 2px solid var(--bright-pink);
    line-height: 60px;
}

label {
  margin: 0 40% 0 0;
  font-size: 26px;
  line-height: 60px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

/* Nav smooth scroll */
html {
  scroll-behavior: smooth;
}

/* banner image  */
.hero {
    height: 350px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/banner.jpg");
    background-size: cover;
    background-position: center;
    color: var(--outer-space);
    position: relative;
    top: -80px;
}

.hero h3 {
    background-color: var(--bright-pink);
    float: right;
    margin: 250px 250px 0 0;
    padding: 0 5px 0 50px;
}


/* left section */
aside {
    padding: 5%;
    color: var(--outer-space);
    float: left;
}

.about-section {
    padding: 0 0 0 70%;
    white-space: nowrap;

}

.work-section {
    padding: 300% 0 0 115%;

}

.contact-section {
    padding: 380% 0 0 90%;
   
}


 /* main section */
 main {
    width: 75%;
    margin: 0 20%;
    border-left: 3px solid var(--outer-space);
}

main section {
    margin: 0;
    padding: 50px 150px;
    height: 150px;
    color: var(--bloody-orange);
}

/* about me section */
.about-me img {
  height: 70%;
  float: left;
  margin-right: 25px;
}

/* work section */
.work {
  margin-bottom: 30%;
}

.box {
  position: relative;
  margin: 1%;
  background-color: var(--bright-pink);
}

.box h3 {
  position: absolute;
  top: 50%;
  left: 40%;
  }

  .box1 {
    display: flex;
    padding: 0%;
  }

.box2 h3 {
  position: absolute;
  top: 50%;
  left: 30%;
}

.box3 h3 {
  position: absolute;
  top: 50%;
  left: 30%;
} 


.box2 {
  display: flex;
  float: left;
    width: 47%;  
  }

.box3 {
    display: flex;
    float: right;
    width: 47%;  
  }

.box img {
    width: 100%;
    height: 200px;
    object-fit: cover
  }


.box:hover {
  background-color: var(--bloody-orange);
  border: 2px solid var(--outer-space);
  box-shadow: 5px 10px 20px var(--bright-space);
  color: var(--outer-space);
}
 


/*Contact section*/

  .contact a {
    margin-right: 2%;
    color: var(--outer-space);
    text-decoration: none;
    border-bottom: 1px solid var(--outer-space);
}



/* media queries */   

/*Nav menu*/
 @media screen and (max-width: 600px) {
label {
  display: block;
  cursor: pointer;
  float: right;
}
.menu {
  text-align: center;
  width: 100%;
  display: none;
}
.menu a {
  display: block;
  border-bottom: 2px solid var(--bright-pink);
  margin: 0%;

 }

 #toggle:checked + .menu {
  display:block
 }

/* header */
header a {
  border-bottom: none;
}

.hero h3 {
  float: center;
  margin: 250px 200px 0 0;
  padding: 0 20px 0 20px;
}

/* main section */
aside {
  display: none;
}

main {
 border-width: 0px;
 margin: 0, 10%;

}
main section {
  padding: 0;
  height: 300px;
  width: 400px;
}

.work {
  padding-top: 100px;
}

.contact {
  padding-top: 150px;
}
 }