* {
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}



/* header styling */
header {
    padding: 3%;
    display: flex;
    background-color: rgba(13, 0, 31, 0.805);
    opacity: 0.5;
}

header .mathilde {
color: rgba(11, 0, 31, 0.805);
background-color: rgb(252, 216, 222);
padding: 0 10px 0 60px;
}

header nav {
    margin: 0 0 0 30%;
    float: right;
    font-size: 20px;
}

header a {
    padding: 0 10px 0 10px;
    display: inline-block;
    color: rgb(252, 216, 222);
    text-decoration: none;
    border-bottom: 3px solid rgb(252, 216, 222);
    height: 90%;
}

/* banner image  */
.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/banner.jpg");
    background-size: cover;
    background-position: center;
    color: rgba(13, 0, 31, 0.805);
}

.hero h3 {
    display: inline-block;
    background-color: rgb(252, 216, 222);
    float: right;
    margin: 150px 35px 0 0;
    padding: 5px;
}


/* left section */
aside {
    padding: 5%;
    color: rgba(39, 0, 94, 0.805);
    float: left;
}

.about-section {
    padding: 0 20% 110% 0;
    border-right: 3px solid rgb(226, 43, 80)
}

.work-section {
    padding: 0 20% 150% 0;
    border-right: 3px solid rgb(226, 43, 80)
}

.contact-section {
    padding: 0 20% 150% 0;
    border-right: 3px solid rgb(226, 43, 80)
}


 /* main section */
 main {
    width: 75%;
    display: block;
    float: right;
}

main section {
    margin: 0;
    padding: 30px;
    height: 150px;
    color: rgb(226, 43, 80);
}


.box1 {
    float: center;
    width: 20%;  
    padding: 30px;
    background-color: rgb(252, 216, 222);
  
  }

.box2 {
    float: right;
    width: 20%;  
    padding: 30px;
    background-color: rgb(252, 216, 222);;
  }

 

.contact a {
    margin-right: 3%;
    color: rgba(13, 0, 31, 0.805);
    text-decoration: none;
    border-bottom: 3px solid rgba(13, 0, 31, 0.805);
}

